<div class="chatbot-popup-container">

  <button class="chat-toggle-btn" (click)="toggleChat()">
    <i class="fa-solid fa-comments"></i> {{ isChatVisible ? 'Close chat' : 'Chat with us!' }}
  </button>


  <div *ngIf="isChatVisible" class="chatbox card">
    <div class="card-header">
      <strong>Rasa Chat Bot</strong>
    </div>
    <div class="card-body chat-body">
      <div *ngFor="let message of messages" class="message">
        <div *ngIf="message.type === 'user'" class="user-message">
          {{ message.text }}
        </div>
        <div *ngIf="message.type === 'bot'" class="bot-message">
          {{ message.text }}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="userMessage"
        (keyup.enter)="sendMessage()"
        placeholder="Type a message..."
      />
      <!-- <button class="send-btn" (click)="sendMessage()">Send</button> -->
    </div>
  </div>
</div>
