<div class="app-container">
  <mat-toolbar>
    <div fxFlex fxLayoutAlign="center" fxLayoutGap="12px">
      <a routerLink="/">
        <mat-icon class="aligned-icon">store</mat-icon>
        Store
      </a>
      <a *ngIf="!isLoggedIn" routerLink="/signup">
        <mat-icon class="aligned-icon">person</mat-icon>
        Signup
      </a>
      <a *ngIf="!isLoggedIn" routerLink="/login">
        <mat-icon class="aligned-icon">login</mat-icon>
        Login
      </a>
      <a *ngIf="isLoggedIn" routerLink="/login" (click)="logout()">
        <mat-icon class="aligned-icon">logout</mat-icon>
        Logout
      </a>
      <a routerLink="/cart">
        <mat-icon class="aligned-icon">shopping_cart</mat-icon>
        Cart
      </a>
    </div>
  </mat-toolbar>

  <div class="app-layout">
    <div class="main-content">
      <router-outlet></router-outlet> 
    </div>
  </div>
  <app-rasabot></app-rasabot>
</div>
